/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    background-color: whitesmoke;  /* colo de fondo de todo el body */
}

/* estilos de main version mobile (estructura general con GRID y luego internamente con FLEX)*/

main{
    padding: 2rem;
    display: grid;  
    grid-template-columns: 1fr; /* tengo una sola columna */
    grid-template-rows: repeat(3,1fr); /* una columna, con tres filas */
    row-gap: 1rem; /* 1 rem son 16px */
}

main .div-generico{
    background-color: #161616;
    text-align: center; /* alineacion del texto al centro */
    color: whitesmoke;    /* color tipografia dentro de todo el main */
    padding: 0.5rem;
    display: flex;
    flex-direction: column; /* todo en columna */
    align-items: center; /* items alineados al centro */ 
    justify-content: center;
    gap: 1rem; /* separacion entre tiems*/ 
}

main .div-generico .boton{
    padding: 0.5rem;
    border-radius: 50px;
    background-color: #27AE60 ;
    width: 40%;
    text-align: center;
    margin: 0 auto;    
}

main .div-generico img{
    width: 40%; /* tamaño de las imagenes */
}

/* estilos de main tablet */

@media screen and (min-width:600px){
        main .div-generico{
            padding: 1.5rem;
        }

        main .div-generico .boton{
            width: 25%;
        }
}

/* estilos de main desktop */

@media screen and (min-width:1024px){
    main{
    padding: 2rem 6rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
    }

    main .div-generico .boton{
        width: 35%;
    }

    main .div-generico{
        gap: 2rem;
    }

    main .div-generico img{
        width: 80%;
    }
    
    main .div-generico{
        padding: 2rem;
    }

    main .div-generico h2{
        font-size: 1.4rem;
    }
}


